.cat {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  min-width: 270px;
}
.stick {
  position: fixed;
  top: 84px;
  z-index: 4;
}
.cat a {
  display: block;
  padding: 5px 5px;
}
.cat a::first-letter {
  text-transform: uppercase;
}
.cat a:hover {
  background-color: rgb(225, 225, 225);
}

.dash {
  height: 0.5px;
  background-color: #888;
  margin: 0.5rem 0;
}
