.form {
  display: flex;
}
.form button {
  background-color: #333;
  border: 1px solid #333;
  text-transform: uppercase;
  color: inherit;
  padding: 0.4rem 1rem;
  font-size: 1rem;
}
.form input {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  flex-grow: 1;
  border-radius: 0;
  border: 1px solid white;
}
