.header {
  position: fixed;
  width: calc(100% - 3rem);
  left: 1.5rem;
  top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  color: snow;
  background-color: transparent;
  transition: all 0.3s ease-out;
  z-index: 9;
}
.header:hover {
  background-color: white;
  color: #333;
}
.active {
  background-color: white;
  color: #333;
}

.logo {
  font-size: 1.4rem;
}

.main-nav a {
  padding: 1rem 0.5rem;
}

.side-nav a {
  padding: 1rem 0.5rem;
}
